@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.func {
  display: flex;
  align-items: center;
}

.logo__header{
  width: 130px;
  object-fit: contain;
  margin-top: -30px;
}
.home__header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  align-items: center;
}

.home__header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}
.home__header a:hover {
  text-decoration: underline;
}
.home__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 13vw;
  margin-top: -30px;
}
.butt__header {
  padding: 12px 36px;
  font-family: "Roboto";
  background: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 40px;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #6eae62, #b8d7b2);
  border: none;
  cursor: pointer;
}
.butt__header:focus {
  border-color: transparent;
  outline: none;
}

.butt__header:focus,
.butt__header:hover,
.butt__header:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.home__body {
  flex: 1;
  flex-direction: column;
  
}

.home__body > img {
  display: block;
  margin-top: -170px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 500px;
}
